
<mat-toolbar color="primary">
  <span>Camin</span>

  <div class="example-sidenav-content" style="padding: 10px">
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize style="height: 100vh">
  <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 15%">
    <p>Пункты меню:</p>
    <p>1)</p>
    <p>2)</p>
<!--    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
<!--    <button (click)="showFiller = !showFiller" mat-raised-button>-->
<!--      Toggle extra text-->
<!--    </button>-->
  </mat-drawer>
</mat-drawer-container>
